---
title: 'Services'
description: 'Meta description for the page'
preloadImg: '/assets/images/hand1.jpg'
permalink: 'projects/'
eleventyNavigation:
    key: Services
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Services</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/hand1.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/hand1.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/hand1.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <a href="/contact" class="cs-button-solid" style="margin-bottom: 6rem;">BOOK NOW</a>
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/nails5.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/nails5.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/nails5.jpg" alt="new hallway" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/nails12.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/nails12.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/nails12.jpg" alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/nails7.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/nails7.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/nails7.jpg" alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/nails5.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/nails5.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/nails5.jpg" alt="new hallway" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/nails12.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/nails12.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/nails12.jpg" alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/nails7.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/nails7.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/nails7.jpg" alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/nails8.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/nails8.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/nails8.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/nails9.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/nails9.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/nails9.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/nails10.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/nails10.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/nails10.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/nails8.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/nails8.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/nails8.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/nails9.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/nails9.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/nails9.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/nails10.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/nails10.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/nails10.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/nails11.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/nails11.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/nails11.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/nails6.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/nails6.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/nails6.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/nails13.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/nails13.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/nails13.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/nails11.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/nails11.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/nails11.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/nails6.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/nails6.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/nails6.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/nails13.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/nails13.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/nails13.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>
                </div>
            </div>
            
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}